*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

html, body {
	line-height: 1.5;
	height: 100%;
}

h1 {
	font-size: clamp(2rem, 24vw, 16rem);
	line-height: 1;
}

p {
	max-width: 20rem;
}

ul, ol {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
	outline: none;
	border: 2px solid #646cff;
	width: 100%;
	padding: 1rem;
	text-align: center;
	background: linear-gradient(#646cff 0 0) no-repeat calc(200% - var(--p, 0%)) 100% / 200% var(--p, 0.2em);
	transition: 0.3s var(--t, 0s), background-position 0.3s calc(0.3s - var(--t, 0s));
}

a:hover {
	--p: 100%;
	--t: 0.3s;
	color: #fff;
}

main {
	height: 100vh;
	scroll-snap-type: y proximity;
	overflow-y: scroll;
}

nav > ul {
	display: flex;
	justify-content: space-around;
	gap: 1rem;
}

main > section {
	height: 100vh;
	width: 100%;
	padding: 2rem;
	scroll-snap-align: start;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.horizontal {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.big {
	flex: 0 0 80%;
	justify-content: space-around;
}

.horizontal > section,
.horizontal > section > div {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.horizontal > section {
	background-color: cadetblue;
	height: 100%;
	padding: 1rem;
	justify-content: space-between;
	align-items: flex-start;
}

#first { background-color: hotpink; }
#second { background-color: aquamarine; }
