*,
*::before,
*::after {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
    font-size: 24px;
}

html, body {
    line-height: 1.5;
    height: 100%;
}

h1 {
    line-height: 1;
}

ul, ol {
	list-style: none;
}

a,
a:visited,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: inherit;
}

a {
    border: 2px solid #646cff;
    width: 100%;
    padding: 1rem;
    text-align: center;
    transition: all 0.3s ease;
    background: linear-gradient(#646cff 0 0) no-repeat calc(200% - var(--p, 0%))
    100% / 200% var(--p, 0.2em);
    transition: 0.3s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s));
}

a:hover {
    --p: 100%;
    --t: 0.3s;
    color: #fff;
}

main {
    height: 100vh;
    scroll-snap-type: y proximity;
    overflow-y: scroll;
}


h1 {
	font-size: 16rem;
}

p {
    max-width: 20rem;
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

nav>li {
    display: inline;
}

main>section {
    height: 100vh;
    width: 100%;
    padding: 2rem 2rem;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.big {
    flex: 0 0 80%;
    justify-content: space-around;
}

.horizontal>section {
    background-color: cadetblue;

    height: 100%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.horizontal>section>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#first {
    background-color: hotpink;
}

#second {
    background-color: aquamarine;
}